<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sticker.kevin">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.sticker.kevin.StickerApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3881357943956604~1016357211" />


        <activity android:name="com.sticker.kevin.EntryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sticker.kevin.OnboardingActivity" />
        <activity android:name="com.sticker.kevin.Storys.activity.SplashActivity" />
        <activity android:name="com.sticker.kevin.Storys.MainActivityHistorias" />
        <activity android:name="com.sticker.kevin.Storys.viewer.ImageViewer" />
        <activity android:name="com.sticker.kevin.Storys.viewer.VideoPlayer" />

        <activity android:name="com.sticker.kevin.StickerPackListActivity" />
        <activity
            android:name="com.sticker.kevin.StickerPackDetailsActivity"
            android:parentActivityName="com.sticker.kevin.StickerPackListActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sticker.kevin.StickerPackListActivity" />
        </activity>

        <provider
            android:name="com.sticker.kevin.StickerContentProvider"
            android:authorities="${contentProviderAuthority}"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.whatsapp.sticker.READ" />
    </application>

</manifest>